@import './BaseColor.scss';

.Content
{
  background-color: $white;
  width: 100%;
  text-align: center;
}  

.Cus-logo{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  transition: 0.4s;
  &:hover{
    width: 210px;
    height: 210px;
    //animation: show 0.45s;
  }
}

.text-box-swipe{
  color: $white;
  position: absolute;
  z-index: 9999;
  top: 50%;
  right: 0%;
  transform: translate(-20%,-50%);
  background-color: #2d283e7e;
  padding: 0px 25px;
  height: 300px;
  width: 500px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-home{
  background-color: $purple;
  text-decoration: none;
  color: black;
  padding: 10px 25px;
  border-radius: 2rem;
  transition: 0.5s;
  &:hover{
    background-color: $white;
    text-decoration: none;
    color: black;
    padding: 10px 90px;
  }
}

.color-A {
  color: $white;
  background-color: $darkpurple;
}

.color-b{
  color: $darkpurple;
  background-color: $white;
}






  
  